flow.json
[
    {
        "id": "213ba28d.4a5ffe",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "839ff5be.2fce88",
        "type": "inject",
        "z": "213ba28d.4a5ffe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "361ec247.688c1e"
            ]
        ]
    },
    {
        "id": "491a9be2.9a9e44",
        "type": "debug",
        "z": "213ba28d.4a5ffe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "361ec247.688c1e",
        "type": "function",
        "z": "213ba28d.4a5ffe",
        "name": "",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 260,
        "wires": [
            [
                "491a9be2.9a9e44"
            ]
        ]
    }
]